<main class="main">
    <form action="" class="formulario" novalidate autocomplete="off">
        <div class="contenedorCampo">
            <input type="text" placeholder="Nombre de la categoria" class="formulario__input" required min="5" id="nombre">
        </div>
        <div class="contenedorCampo">
            <textarea name="" id="descripcion" class="formulario__textarea" placeholder="Ingrese una brave descripcion de la categoria..." required minlength="10"></textarea>
        </div>
        <button class="formulario__boton">Guardar</button>
    </form>
</main>